img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    z-index: -1;
}
#container {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 15%;
    left: 20%;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #DFD9D3;
    text-align: center;
    font-size: 2.5vw;
    font-family: 'Roboto', sans-serif;
    padding-top: 1%;
    
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    color: #DFD9D3;
    text-align: center;
    font-size: 1.3vw;
    font-family: 'Roboto', sans-serif;
    padding-top: 1%;
    
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}