<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
        <title>MealMap</title>
        <link rel="stylesheet" href="../static/homepage.css">
    </head>
    <body>
        
        <img src="../static/blackplate.jpg" alt="blackplate">
    
        <div id="header">
            <h1>MealMap</h1>
        </div>
        <div id="forms">
            
            <form action="/signup">
                <input class="buton" id="signup" type="submit" value="Sign up" />
            </form>
            <form action="/login">
                <input class="buton" id="login" type="submit" value="Log in"/>
            </form>
        </div>
    </body>
</html>