<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="../static/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">
</head>

<body>

    <img id="plate" src="../static/top-view-empty-black-plate-along-with-white-flowers-dark-floor.jpg" alt="blackplate">


    <form id="forms" method="post">
        <img id = "logo" src="../static/logo.webp" alt="logo">
        <input type="email" id="email" name="email" placeholder="Email" required>
        <input type="text" id="name" name="name" placeholder="Username" required>
        <input type="password" id="password" name="password" placeholder="Password" required>
        <input type="submit" value="Sign up" id="submitter">

        </div>
</body>

</html>