<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>About us</title>
    <link rel="stylesheet" href="../static/aboutus.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">
</head>

<body>

    <img id="bg" src="../static/loadingBG.jpg" alt="image">

    <div id="container">
        <h1>DishEat</h1>
        <h2>About Us</h2>
        <p>DishEat is an innovative solution utilizing Flask, HTML, MySQL, and the OpenAI API to create personalized meal plans and recipes. Users input their dietary preferences and allergies, and the system offers tailored weekly menus, generates recipes based on photos of ingredients or dishes, and provides the option to send an email with an order list for the ingredients of the selected recipe.</p>
        <h2>How it works?</h2>
        <p>
            The website offers a comprehensive solution for personalized meal planning and recipe generation based on individual dietary preferences and allergies. Users begin by answering questions regarding their dietary needs, preferences, and any allergies they may have. Utilizing the OpenAI API, the system processes this input data to generate customized meal plans and recipes that cater specifically to the user's requirements.
            
            Additionally, users have the option to upload images of dishes or products. If a dish image is uploaded, the system provides the corresponding recipe to replicate it. Similarly, when users upload images of products, the system generates recipes suggesting how to utilize those products to create a delicious meal.
            
            Moreover, the website incorporates email functionality, simplifying the process of shopping for the necessary ingredients by providing convenient shopping lists based on the generated meal plans and recipes. This comprehensive approach ensures a seamless and personalized culinary experience for users, catering to their unique dietary needs and culinary preferences.</p>
        <h2>Our Team</h2>
        <p>4ta papka</p>
    </div>

    <a href="/" id="ahome">
        <button class="ih" id="home">Home</button>
    </a>

</body>

</html>