<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="stylesheet" href="../static/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">
</head>

<body>

    <img id="bg" src="../static/loadingBG.jpg" alt="image">

    <div id="container">
        <h1>DishEat</h1>
        <h2>About Us</h2>
        <p>DishEat is an innovative solution utilizing Flask, HTML, MySQL, and the OpenAI API to create personalized meal plans and recipes. Users input their dietary preferences and allergies, and the system offers tailored weekly menus, generates recipes based on photos of ingredients or dishes, and provides the option to send an email with an order list for the ingredients of the selected recipe.</p>
        <h2>How it works?</h2>
        <p>After answering questions about your dietary preferences and allergies, the system uses the OpenAI API to analyze the input data and create personalized meal plans and recipes tailored to your needs. MySQL is used for storing user information and recipes, while the email functionality makes it easier to shop for the necessary ingredients.</p>
        <h2>Our Team</h2>
        <p>4ta papka</p>
    </div>

</body>

</html>