<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Activation</title>
    <link rel="stylesheet" href="../static/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">
</head>

<body>

    <img id="plate" src="../static/blackplate.jpg" alt="blackplate">

    <a href="/" id="ahome">
        <button class="ih" id="home">Home</button>
    </a>

    <form id="forms" method="post">
        <img id="logo" src="../static/logo.webp" alt="logo">

        {% if error == 1 %}
        <input type="password" name="password" id="password" placeholder="Invalid Pin">
        <style>
            #password {
                border: 2px solid red;
            }

            #password::placeholder {
                color: red;
            }
        </style>
        {% else %}
        <input type="password" name="password" id="password" placeholder="Pin" required> 
        {% endif %}
        

        <input type="submit" value="Activate" id="submitter">
    </form>
</body>

</html>