<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Calendar</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../static/calendar.css">
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/calendar.css">  
</head>

<body>

    <img id="bg" src="../static/calendarbg.jpg" alt="image">
    <header>
      <a href="/quiz">
        <button class="ih" id="create">Create new meal plan</button>
      </a>
      <h1>{{user}}</h1>
      <a href="/logout">
        <button class="ih" id="logout">Logout</button>
      </a>
      <a href="/delete_user">
        <button class="ih" id="del">Delete profile</button>
      </a>
    </header>

    <h2>Your meal calendar</h2>
    <div id="container">
      <table>
        <tr class="days">
            <th>Day 1</th>
            <th>Day 2</th>
            <th>Day 3</th>
            <th>Day 4</th>
            <th>Day 5</th>
            <th>Day 6</th>
            <th>Day 7</th>
        </tr>
        <tr class="rows">
            {% for day in days %}
                {% if day %}
                    {% for recipe in day %}
                        <td class="meal"> 
                            <p>{{ recipe.label }}</p>
                            <p>{{ recipe.total_time }}</p>
                        </td>
                    {% endfor %}    
                {% else %}
                      <td class="meal">No meal planned</td>
                {% endif %}
            {% endfor %}
        </tr>
        <tr class="rows">
          {% for day in days %}
              
            <td> 
              {% if day %}
                {% for recipe in day %}
                  <a href="/recipe/{{ recipe.id }}"><button class="sm">See more</button></a>
                {% endfor %}
              {% endif %}
            </td>
          {% endfor %}
      </tr>
    </table>
    </div>