<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <div class="row" id="blocks">

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{day.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{day.name}}</h5>
                        <p class="card-text">{{day.description}}</p>
                        <a href="{{day.link}}" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{day.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{day.name}}</h5>
                        <p class="card-text">{{day.description}}</p>
                        <a href="{{day.link}}" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{day.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{day.name}}</h5>
                        <p class="card-text">{{day.description}}</p>
                        <a href="{{day.link}}" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{day.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{day.name}}</h5>
                        <p class="card-text">{{day.description}}</p>
                        <a href="{{day.link}}" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{day.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{day.name}}</h5>
                        <p class="card-text">{{day.description}}</p>
                        <a href="{{day.link}}" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{day.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{day.name}}</h5>
                        <p class="card-text">{{day.description}}</p>
                        <a href="{{day.link}}" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{day.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{day.name}}</h5>
                        <p class="card-text">{{day.description}}</p>
                        <a href="{{day.link}}" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>



            <!-- Repeat the above structure for additional cards -->

        </div>
    </div>

</body>

</html>
 