<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>form</title>
    <link rel="stylesheet" href="../static/form.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">
</head>

<body>

    <img id="bg" src="../static/formbg.jpg" alt="image">

    <form id="forms" method="post">
        <h1>Tell us about yourself, {{username}}</h1>

        <input type="text" placeholder="How much time a day do you have for meal preparation?" required>
        <input type="text" placeholder="Are there any foods that you dislike or are allergic to?" required>
        <input type="text" placeholder="How many meals per day?" required>
        <input type="text" placeholder="What meals do you prefer?" required>
        <input type="text" placeholder="Do you have access to any specific cooking appliances?" required>
        <input type="text" placeholder="What's your cooking skill level?" required>
    
        <h2>What's your goal?</h2>
        <div id="rad">
            <input type="radio" id="taste" name="goal" value="Taste" required>
            <label for="taste">Taste</label>
            <input type="radio" id="fitness" name="goal" value="Fitness" required>
            <label for="fitness">Fitness</label>
        </div>

        <input type="submit" id="sub" value="Submit" id="submitter">

    </form>

</body>

</html>