<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>form</title>
    <link rel="stylesheet" href="../static/form.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">
</head>

<body>

    <img id="bg" src="../static/formbg.jpg" alt="image">

    <form id="forms" method="post">
        <h1 id="info">Tell us about your goals</h1>

        <input type="text" id="info" placeholder="How much free time a day do you have?">
        <input type="text" id="info" placeholder="How many meals do you want to eat a day?">
        <input type="text" id="info" placeholder="Do you have any alergies?">
        <input type="text" id="info" placeholder="What meals do you prefer?">
        <input type="text" id="info" placeholder="What is your budget?">
    
        <h2>What's your goal?</h2>
        <div id="radio">
            <input type="radio" id="taste" name="goal" value="Taste">
            <label for="taste">Taste</label>
            <input type="radio" id="fitness" name="goal" value="Fitness">
            <label for="fitness">Fitness</label>
        </div>


    </form>

</body>

</html>