<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>DishEat</title>
    <link rel="stylesheet" href="../static/homepage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">
</head>

<body>

    <img id="BG" src="../static/blackplate.jpg" alt="blackplate">

    <div id="header">
        <img id="imagePreview" alt="Uploaded Image" style="z-index: 100; position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; display: none;">
    </div>

    <div id="forms" class="fridgeForm">

        <!--a href="/signup" id="signup">Sign up</a-->
        <input type="file" accept="image/*" id="imageInput">
        <label for="imageInput" id="signup" class="fridge">Upload</label>

        <!--a href="/login" id="login">Log in</a-->
        <input type="hidden" name="imageData" id="imageData">
        <input type="submit" value="Upload" id="uploader">
        <label for="imageData" id="login" class="fridge">Submit</label>
    </div>
</body>









<script>
    document.getElementById('imageInput').addEventListener('change', function (event) {
        const file = event.target.files[0];
        const reader = new FileReader();

        reader.onload = function (event) {
            const imageUrl = event.target.result;
            const imagePreview = document.getElementById('imagePreview');
            imagePreview.innerHTML = `<img src="${imageUrl}" alt="Uploaded Image" id="previewedImage">`;
        }

        reader.readAsDataURL(file);

        reader.onloadend = function () {
            const image = new Image();
            image.src = reader.result;

            image.onload = function () {
                const canvas = document.getElementById('canvas');
                const context = canvas.getContext('2d');

                canvas.width = image.width;
                canvas.height = image.height;

                context.drawImage(image, 0, 0, image.width, image.height);
                const dataUrl = canvas.toDataURL('image/jpeg');
                console.log(dataUrl);
                document.getElementById('imageData').value = dataUrl;

            }
        }

    });
</script>


</html>