<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/fridge.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">

    <title>Image Uploader</title>
</head>

<body>

    <img id="bg" src="../static/blackbg.jpg" alt="image">

    <form id="forms" method="post" enctype="multipart/form-data">
        <input type="file" accept="image/*" id="imageInput">
        <div id="imagePreview"></div>
        <canvas id="canvas" style="display: none;"></canvas>

        <input type="hidden" name="imageData" id="imageData">
        <input type="submit" value="Upload">
    </form>


    <script>
        document.getElementById('imageInput').addEventListener('change', function (event) {
            const file = event.target.files[0];
            const reader = new FileReader();

            reader.onload = function (event) {
                const imageUrl = event.target.result;
                const imagePreview = document.getElementById('imagePreview');
                imagePreview.innerHTML = `<img src="${imageUrl}" alt="Uploaded Image" style="max-width: 100%;">`;
            }

            reader.readAsDataURL(file);

            reader.onloadend = function () {
                const image = new Image();
                image.src = reader.result;

                image.onload = function () {
                    const canvas = document.getElementById('canvas');
                    const context = canvas.getContext('2d');

                    canvas.width = image.width;
                    canvas.height = image.height;

                    context.drawImage(image, 0, 0, image.width, image.height);
                    const dataUrl = canvas.toDataURL('image/jpeg');
                    console.log(dataUrl);
                    document.getElementById('imageData').value = dataUrl;

                }
            }

        });
    </script>
</body>

</html>