<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>form</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">
</head>

<body>

    <img id="bg" src="../static/formbg.jpg" alt="image">
    <form method="post" action="">
        <canvas><input type="file" id="myFile" name="filename"></canvas>
        <input type="submit" value="Submit" id="submitter">
    </form>

</html>