<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>DishEat</title>
    <link rel="stylesheet" href="../static/homepage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">
</head>

<body>

    <img src="../static/blackplate.jpg" alt="blackplate">

    <div id="header">
        <h1>DishEat</h1>
    </div>
    
    <div id="forms">

        <a href="/signup" id="signup">Sign up</a>
        <a href="/login" id="login">Log in</a>
    </div>
</body>

</html>