<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>DishEat</title>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">
</head>

<body>

    <img id="bg" src="../static/blackplate.jpg" alt="blackplate">
    <header>
        <a href="/aboutus" id="about">About us</a>
        <a href="/fridge" id="fridge">Scan item</a>
        <a href="/dish" id="meal">Scan meal</a>
        <a href="/signup" id="signup">Sign up</a>
        <a href="/login" id="login">Log in</a>
    </header>

    <div id="logo">
        <img src="../static/Dish_eat.webp" id="logo" alt="logo">
    </div>
    
</body>

</html>