<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="stylesheet" href="../static/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">
</head>

<body>

    <img id="plate" src="../static/blackplate.jpg" alt="blackplate">

    <form id="forms" method="post">
        <img id="logo" src="../static/logo.webp" alt="logo">
        {% if error == "Invalid Email" %}
        <input type="email" name="email" id="email" placeholder="Invalid Email" required>
        <style>
            #email {
                border: 2px solid red;
            }

            #email::placeholder {
                color: red;
            }
        </style>
        {% else %}
        <input type="email" name="email" id="email" placeholder="Email" required>
        {% endif %}

        {% if error == "Invalid Password" %}
        <input type="password" name="password" id="password" placeholder="Invalid Password">
        <style>
            #password {
                border: 2px solid red;
            }

            #password::placeholder {
                color: red;
            }
        </style>
        % else %
        <input type="password" name="password" id="password" placeholder="Password" required> {
        % endif %
        }

        <input type="submit" value="Log in" id="submitter">
    </form>
</body>

</html>