<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Recipe</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../static/calendar.css">
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/recipe.css">
</head>

<body>
    <img id="bg" src="../static/clipboard.jpg" alt="image">
    <div id="container">
        <div id="container2">
            <h1>{{recipe.label}}</h1>
            <p>This meal will take you {{recipe.total_time}} minutes to make.</p>
            <p>This meal will contain {{recipe.calories}} calories.</p>
            <p>All the needed ingredients for this meal are:</p>
            <p>
                {%for ingridient in ingridients%}
                    {{ingridient}},
                {%endfor%}
            </p>
            <p>Follow the instructions to prepare your meal:</p>
            <p>{{recipe.instructions}}</p>
        </div>
    </div>
    <a href="/calendar"><button>Go back</button></a>
    
</body>
