<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Recipe</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../static/calendar.css">
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/recipe.css">
</head>

<body>
    <img id="bg" src="../static/clipboard.jpg" alt="image">
    <div id="container">
        <h1>{{recipe.label}}</h1>
        <p>This meal will take you {{recipe.total_time}} hours to make.</p>
        <p>This meal will contain {{recipe.calories}} calories.</p>
        <p>All the needed ingredients for this meal are:</p>
        {%for ingredient in ingredients%}
            <p>{{ingredient}}</p>
        {%endfor%}
        <p>Follow the instructions to prepare your meal:</p>
        <p>{{recipe.instruction}}</p>
    </div>
    
</body>