<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="../static/signup.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">
</head>

<body>

    <img id="plate" src="../static/top-view-empty-black-plate-along-with-white-flowers-dark-floor.jpg" alt="blackplate">


    <form id="forms" method="post">
        <img id = "logo" src="../static/logo.webp" alt="logo">
        {% if error == 1 %}
            <input type="email" name="email" id="email" placeholder="Invalid Email" required>
            <style>
                #email {
                    border: 2px solid red;
                }

                #email::placeholder {
                    color: red;
                }
            </style>
        {% else %}
            <input type="email" id="email" name="email" placeholder="Email" required>
        {% endif %}

        <input type="text" id="name" name="name" placeholder="Username" required>
        
        {% if error == 2 %}
            <input type="password" name="password" id="password" placeholder="Invalid Password">
            <style>
                #password {
                    border: 2px solid red;
                }

                #password::placeholder {
                    color: red;
                }
            </style>
        {% else %}
            <input type="password" id="password" name="password" placeholder="Password" required>
        {% endif %}

        <input type="submit" value="Sign up" id="submitter">

</body>

</html>